AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1

NODE_ENV=local
PORT=3000
AXIOS_HTTP_TIMEOUT=30000

AWS_ACCESS_KEY_ID=AKIAXGXL3RJCRI54KJFH
AWS_SECRET_ACCESS_KEY=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
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1
QUEUE_NAME=MicroServicerReadSQS.fifo
QUEUE_URL=https://sqs.us-east-1.amazonaws.com/495489616453/MicroServicerReadSQS.fifo